body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    width: 1000px;
}

thead {
    background-color: #333;
    color: #fff;
}

table, td, th {
    border: 1px solid #aaa;
    padding: 1px
}

table {
    border: 1px double #aaa;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
